<div class="h-measure">
  <p>Between <time class="dt-start" datetime="2019-09-20T00:00:00Z">Friday, Sep 20 2019</time> and <time class="dt-end" datetime="2019-09-21T00:00:00Z">Saturday, Sep 21 2019</time> I took 12786 steps.</p>
  <p>
  <a class="catalogue-time u-uid u-url" href="https://www.jvt.me/mf2/075fdfe1-fc6a-4ffa-a684-f8320e3ffd14/">
    <time datetime="2019-09-21T12:43:04.968+02:00" class="dt-published">2019-09-21T12:43:04.968+02:00</time>
  </a> by <span class="p-author h-card"><img class="u-photo" src="https://www.jvt.me/img/profile.png" alt="Jamie Tanna's profile image"> <a class="p-name u-url" href="https://www.jvt.me">Jamie Tanna</a></span>
  .
  </p>
</div>
