<blockquote>As part of an <a href="{{ ref . "2018-03-06-chef-13-upgrades" }}">upgrade from Chef 12 to Chef 13</a>, this is one of the posts in which I've been <a href="/tags/chef-13-upgrade">detailing the issues I've encountered, and how I've resolved them </a>.</blockquote>
